*{
    margin: 0;
}
body{
    margin: 0px;
    font-family: 'Inter';
}
.Rectangle-85{
    background-color: #299D8D;
    height: 44px;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 24px;
    
}
.para-1{
    color: #ffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 9px;
    font-family: 'Inter', sans-serif;

}
.close-button{
    position: absolute;
    left: 1224px;
}
.rectangle-info{
    border-bottom: 1px solid white;
}
.group{
    display: flex;
    flex-direction: row;
    height: 99px;
    justify-content: space-between;
    position: relative;
}
.image-2{
    width: 154px;
    height: 64px;
    position: absolute;
    bottom: 20px;
}
.image{
    width: 196px;
    display: flex;
    padding-left: 46px;
    border-right: 1px solid #DBDBDB;
    margin-right: 12px;
}
.navbar{
    display: flex;
    flex: 1;
    text-align: center;
    position: relative;
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    color: #337CF3;    
    justify-content:start;
    padding-inline-start: 0;
    justify-content: space-between;
    position: absolute;
    bottom: 2px;
}
.navbar ul li{
    
    margin: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    border: 1px solid #337CF3;
    border-radius: 5px;
}
.avatar{
    width: 160px;
    position: relative;
}
.avatar-image{
    position: absolute;
    top: 26px;
    right: 34px;
}
.hide-copy{
    position: absolute;
    top: 48px;
    right: 16px;
}
.third-row{
    height: 67px;
    background-color: #f0f0f0;
    position: relative;
}
.hide-copy-2{
    color: #848484;
    position: absolute;
    left: 49px;
    bottom: 28px;
    rotate: 90deg;
}
.para-2{
    display: inline;
    position: absolute;
    top: 25px;
    left: 72px;
    color: #848484;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;    
}
h3{
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    position: absolute;
    left: 132px;
    top: 18px;
}
.action-icon{
    color: #ffff;
}
.action-button{
    position: absolute;
    background-color: #337CF3;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: 114px;
    height: 34px;
    border: none;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
    right: 134px;
    top: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.adduser{
    position: absolute;
    background-color: #53c0b1;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: 110px;
    height: 34px;
    border: none;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
    right: 15px;
    top: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.table{
    position: absolute;
    top: 300px;
    width: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
    
}
th{
    font-size: 14px;
    font-weight: 700;
    color: #16131E;
}
td{
    font-size: 14px;
    font-weight: 400;
}
.edit-data{
    color: #337CF3;
    border-bottom: 1px solid #ddd;
}